extends ../../../views/withjs

block title
    title #{title} - Prototype

block prepend js
    script.
        CONFIG = !{config};
        GLOB = typeof GLOB !== 'undefined' ? GLOB : {};
        GLOB.DB_DISABLED = true;

block extrajs
    script(src="/static/js/l3dp.js")
    //-script.
        GLOB = typeof GLOB !== 'undefined' ? GLOB : {};
        GLOB.SceneClass = #{scene};
        GLOB.Recommendation = #{bookmark};
        GLOB.prefetch = "#{prefetch}";
        GLOB.locked = #{session.locked === undefined ? 'true' : session.locked};
    block configjs
    //-script.
        GLOB = typeof GLOB !== 'undefined' ? GLOB : {};
        GLOB.coinConfig={ids:[], type: Coin.Config.NONE};

    script(src="/static/js/demo.js")
    script document.getElementById('music').volume = 0.5;


block extrahead
    link(rel="stylesheet" href="/static/css/prototype.css")

block content
    #main-div.panel-group(style={'margin-top':'10px', 'margin-bottom':'10px'})
        block description
        #alert-placeholder
        .progress
            .progress-bar.progress-bar-striped.active(role='progress-bar', aria-valuenow='0',aria-valuemin="0", aria-valuemax="100", style={width:'0%'})
                #percentage 0%

        div(style="margin:5px")
        #container(style={'padding': '0px', 'margin': '0px'}, tabindex="1")

        nav.navbar.navbar-default.navbar-fixed-bottom
            .container
                button#reset.btn.btn-primary.navbar-btn(style={'margin-right': '10px', 'margin-bottom':'10px'}) Reset camera
                block extrabutton

                button#undo.btn.btn-default.navbar-btn(style={'margin-right': '10px', 'margin-bottom': '10px'})
                    span.glyphicon.glyphicon-triangle-left('aria-hidden'="true")

                button#redo.btn.btn-default.navbar-btn(style={'margin-right': '10px', 'margin-bottom':'10px'})
                    span.glyphicon.glyphicon-triangle-right('aria-hidden'="true")

                //-input#fullarrow(type="checkbox", style={'margin-right': '10px', 'margin-bottom': '10px'})
                //-label(for="fullarrow" style={'margin-right':'10px'}) Full arrow

                input#lock(type="checkbox", style={'zoom':'1.7'}, checked)
                label(for="lock" style={'margin-right':'10px', 'zoom': '1.7'}) Pointer lock

                input#showarrows(type="checkbox", style={'margin-right': '10px', 'margin-bottom': '10px', 'display':'none'}, checked)
                label(for="showarrows" style={'margin-right':'10px', 'display': 'none'}) Show arrows

                //- block lastbutton

                //-input#recommendation(type="checkbox", style={'margin-right': '10px', 'margin-bottom': '10px'})
                //-label(for="recommendation" style={'margin-right':'10px'}) Fixed prev

                audio#music(controls, volume=0.5)
                    source(src="/static/data/music/bobomb.ogg")
                    source(src="/static/data/music/bobomb.mp3")

