extends ./base.jade

mixin button_link(href)
    form.navbar-form.navbar-left(role="search", action="#{href}", method='GET')
        button.btn.btn-default(type="submit")
            block

block links
    //-div.navbar-collapse.collapse
        ul.nav.navbar-nav
            li
                a(href="#{urls.bouncing}") Bouncing cube
            li
                a(href="#{urls.multisphere}") Multisphere
            li
                a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false") Prototype
                    span.caret
                ul.dropdown-menu(role="menu")
                    li
                        a(href="#{urls.arrows}") Arrows
                    li
                        a(href="#{urls.reverse}") Reverse arrows
                    li
                        a(href="#{urls.viewports}") Viewports
                    li.divider
                    li
                        a(href="#{urls.replay_index}") Replays
                    li.divider
                    li
                        a(href="#{urls.tutorial}") Tutorial
            li
                a(href="#{urls.stream}") Sphere streaming
            li.divider
            if (session && session.user_id)
                li
                    +button_link(urls.logout)
                        span.glyphicon.glyphicon-log-out(aria-hidden=true, style={"margin-right":"10px"})
                        span Log out


        ul.nav.navbar-nav.navbar-right
            li
                +button_link('https://github.com/tforgione/3dinterface')
                    img(src="/static/GitHub-Mark/PNG/GitHub-Mark-32px.png", width="17px", style={align:vertical})
                    span(style={'margin-left':'5px', align:vertical}) Github Repo
            li
                +button_link('https://github.com/tforgione/3dinterface/wiki')
                    span.glyphicon.glyphicon-book(aria-hidden=true)
                    span(style={'margin-left':'5px'}) Github wiki

            li
                +button_link('mailto:thomas.forgione@gmail.com')
                    span.glyphicon.glyphicon-envelope(aria-hidden=true)
                    span(style={'margin-left':'5px'}) Contact

