extends ../../../views/main

block title
    title #{title} - Index

block content
    h2 Index
    ul
        li
            a(href="#{urls.bouncing}") A bouncing cube that jumps when you click on it
            p.
                Jumps and bounce when you click on it.

        li
            a(href="#{urls.multisphere}") Sphere with multi-resolution
            p.
                Lots of obj files loaded and displayed. When you click
                somewhere, the current obj is hidden and the next one, with a
                better resolution is shown.

        li
            a(href="#{urls.prototype}") A proto of the real thing
            p.
                You can move the camera with the arrow keys and move the angle of
                the camera with 2, 4, 6 and 8 (the arrows of the numpad), or you
                can do a drag-and-drop like (click on the mouse to grap the scene,
                and move the mouse to rotate the camera). You can also select a
                camera by clicking on the red part of it, and get back to the free
                camera by clicking again.  You can also select a camera by simply
                clicking on the object you want to see. The program will choose the
                camera that you want, and move to it progressively.

        li
            a(href="#{urls.stream}") Sphere streaming
            p.
                Streaming of 3D obj model of sphere

        li
            a(href="#{urls.sponza}") Sponza streaming
            p.
                If you like streaming big models !
